<h2 id="目錄"><span>目錄</span></h2>
<ul>
    <% for (keyT in 學生資料) { %>
        <li><a href="#<%= keyT %>"><%= keyT %></a></li>
    <% } %>
</ul>    


<% for (keyT in 學生資料) { %>
    <h2 id="<%= keyT %>"><span><%= keyT %></span>   <a href="#目錄"><img id="backHome" src="/Images/home.png" alt="回目錄"><img></a></h2>
        <%= orderedListObject(學生資料, keyT)%>
<% } %>

<% function orderedListObject(o, keyT) { %>
    <ul>
        <% for (key in o[keyT]) { %>
            <% if (typeof(o[keyT][key]) !== 'object') { %>
                <li>
                    <%= key %>:<%= o[keyT][key]%>
                </li>
            <% } else { %>
                <li>
                    <%= key %>
                    <%= orderedListObject(o[keyT], key) %>
                </li>
            <% } %>
        <% } %>
    </ul>
<% } %>

<link href="/Scripts/CSS/mycss.css" rel="stylesheet">
